{plugins, [
    rebar3_rust
]}.

{erl_opts, [debug_info]}.
{deps, [
    {find_crate, {git, "https://github.com/goertzenator/find_crate", {branch, "master"}}}
]}.

{provider_hooks, [
    {post, [
        {compile, {rust, build}},
        {clean, {rust, clean}},
        {eunit, {rust, test}}
    ]}
]}.
