{erl_opts, [debug_info]}.
{deps, [jsx]}.

{eunit_tests, [rebar3_rust]}.

{ct_opts, [
    {dir, "ct"}
]}.

{profiles, [{test, [
    {deps, [
        %% for dir copy function
        erlware_commons,
        %% for rebar_file_utils:sh()
        {rebar3,{git, "https://github.com/erlang/rebar3", {branch, "master"}}}
    ]}
]}]}.
